---
name: Bandit

on:
  push: null
  pull_request: null

jobs:
  analyze:
    runs-on: ubuntu-latest
    permissions:
      # required for all workflows
      security-events: write
    steps:
      - name: Perform Bandit Analysis
        uses: PyCQA/bandit-action@v1
        with:
          path: "."
          level: high
          confidence: high
          exit_zero: true
